SPRING_DATASOURCE_PASSWORD= ; database password
JWT_SECRET_KEY= ; JWT secret key, 32 bytes min!
SPRING_ADMIN_LOGIN= ; login for admin user that will be created on application startup
SPRING_ADMIN_PASSWORD= ; password for admin user that will be created on application startup