# ==========================================================================================
# Это шаблон файла mailserver.env, который отвечает за конфигурацию SMTP
# Тут представлены основные параметры без чувствительных данных
# Вместо таких данных проставлены заглушки, которые при деплое ОБЯЗАТЕЛЬНО нужно заменить
# ==========================================================================================



# Способ управления аккаунтами (FILE = локальные файлы, LDAP/SQL для сложных систем)
ACCOUNT_PROVISIONER=FILE

# Протоколы
# ENABLE_IMAP=1
# ENABLE_POP3=0

# ВАЖНО!!! В проде должно быть 'yes'
SSL_TYPE=letsencrypt
SSL_DOMAIN=mail.example.ru


# Уровень безопасности TLS (modern, intermediate, old)
# modern: отключает старые клиенты, но максимально безопасно
# intermediate: баланс между безопасностью и совместимостью
TLS_LEVEL=intermediate


# Антиспам и защита (Rspamd)
ENABLE_RSPAMD=1
ENABLE_AMAVIS=0
ENABLE_OPENDKIM=0
ENABLE_OPENDMARC=1
ENABLE_POLICYD_SPF=1
ENABLE_SPAMASSASSIN=0
ENABLE_CLAMAV=0
ENABLE_FAIL2BAN=1

# Обработка спама
MOVE_SPAM_TO_JUNK=1
SPAM_SUBJECT=[SPAM]

# Проверять аутентифицированных пользователей на спам
# (Полезно, если аккаунт взломали и с него шлют спам)
RSPAMD_CHECK_AUTHENTICATED=1

# Логирование
LOG_LEVEL=info

# Максимальный размер письма
POSTFIX_MESSAGE_SIZE_LIMIT=52428800  # 50 MB

# Минимальное время между повторными попытками отправки (в секундах)
POSTFIX_minimal_backoff_time=30

# Максимальное время между повторными попытками отправки (в секундах)
POSTFIX_maximal_backoff_time=400

# Максимальное время жизни письма в очереди (в днях)
POSTFIX_maximal_queue_lifetime=5d

# Использовать только IPv4 (если проблемы с IPv6)
POSTFIX_inet_protocols=ipv4

# ==========================================================================================
# Далее идут специфичные параметры. Они зависят от сервера и сети.
# ИХ НЕЛЬЗЯ ХРАНИТЬ В РЕПЕ
# (для кого я это пишу? Этим ж только я занимаюсь...)
# ==========================================================================================

# Заменить YOUR_SERVER_PUBLIC_IP на публичный айпи хоста
POSTFIX_mynetworks=127.0.0.0/8, [::1]/128, 172.18.0.0/16, YOUR_SERVER_PUBLIC_IP/32

# 2. Milters: Настройки подключения Rspamd/DKIM.
# Обычно localhost:11332 для Rspamd. Значение дефолтное
POSTFIX_non_smtpd_milters=inet:localhost:11332

# 3. Docker Permissions.
# 'host' открывает доступ к хост-машине из контейнера (небезопасно).
# В продакшене лучше использовать пользовательские сети Docker и значение 'none' или конкретные сети.
# 'host' только для отладки локально.
PERMIT_DOCKER=none
